[Unit]
Description=Archbit Bootc First Boot Setup
ConditionPathExists=!/var/lib/archbit/.firstboot-done
Before=sddm.service display-manager.service getty@tty1.service
After=systemd-vconsole-setup.service systemd-firstboot.service
Conflicts=getty@tty1.service

[Service]
Type=oneshot
ExecStart=/usr/bin/archbit-firstboot
StandardInput=tty
StandardOutput=tty
StandardError=tty
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
